<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>My HomePage</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Custom Google font-->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript">   
            $(document).ready( function() {
            
              $("#lnb").load("/include/lnb.html");  // 상위메뉴
              $("#footer").load("/include/footer.html");  // footer
            
            });
          </script>          
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <div id="lnb"></div>
            <!-- Projects Section-->
            <section class="py-5">
                <div class="container px-5 mb-5">
                    <div class="text-center mb-5">
                        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Ajax란??</span></h1>
                    </div>  
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-11 col-xl-9 col-xxl-8">
                            <% visitor.forEach(function(list){ %>
                            <!-- Project Card 1-->
                                <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                    <div class="card-body p-0">
                                        <div class="d-flex align-items-center" style="margin-left: 20px;margin-top: 10px;">
                                            <!-- <img class="img-fluid" src="/assets/1.jpg" alt="..." /> -->
                                            <div class="p-5">
                                                    <li>
                                                    <strong><%= list.content %></strong>
                                                    <!-- <form action="/api/guestbook/<%= entry._id %>?_method=DELETE" method="POST">
                                                        <button type="submit">Delete</button>
                                                    </form> -->
                                                    </li>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% }) %>
                            <!-- Project Card 2-->
                            <!-- <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <p>
												<span style="font-size: 15px; font-weight: 800;">1. 비동기통신</span><br>
												&nbsp;&nbsp;웹 페이지와 상호 작용해도 전체 페이지를 다시 로드할 필요가 없이 실행<br>
												<span style="font-size: 15px; font-weight: 800;">2. 부분 업데이트</span><br>
												&nbsp;&nbsp;웹 페이지의 특정 영역만 업데이트할 수 있어 페이지 로딩 속도가 빠름<br>
												<span style="font-size: 15px; font-weight: 800;">3. 다양한 데이터 형식 지원</span><br>
												&nbsp;&nbsp;XML, JSON 등 다양한 데이터 형식을 지원<br>
												<span style="font-size: 15px; font-weight: 800;">4. 사용 편의성</span><br>
												&nbsp;&nbsp;JavaScript를 사용하여 쉽게 구현
											</p>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <form action="/visitorSave" method="POST">
                        <textarea name="message" placeholder="Your message" required></textarea>
                        <input type="text" name="name" placeholder="Your name" required>
                        <input type="password" name="password" placeholder="password" required>
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </section>
        </main>
        <!-- Footer-->
        <div id="footer"></div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
